$body-background-color: gray;

body {
  background-color: $body-background-color; 
}
h1{
font-weight: bold;
}

body.light{
background-color: #fff;
}

body.light h1{
  color: #000;
  }

body.light .form-control-underlined{
   background-color: #fff;
  }

.head_text{
  color: #fff;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  background-color: gray;
}

input::-webkit-input-placeholder {
  color: #000 !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: #000 !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: #000 !important;  
  }
   
  input:-ms-input-placeholder {  
  color: #000 !important;  
  }

  #news-articles {
    padding-left: 0;
    list-style: none;
}

.article-img {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  padding-top: 1rem!important;
}

h2.article-title{
font-size: 22px;
font-weight: bold;
margin-bottom: .75rem;
}

.article-description:last-child {
  margin-bottom: 0;
}

// .article-author {
//   margin-bottom: .5rem!important;
// }

.article-link{
  color: #0099CC;
  float: right;
  font-size: 12px;
}





@media only screen and (max-width:600px){
  h1{ 
      font-size: 25px;
      font-weight: bold;
  }

}